### Dataset Bitcoin

In [65]:
import pandas as pd;

In [66]:
df = pd.read_csv("https://raw.githubusercontent.com/remiconnesson/datasets/master/data/bitcoin/bitcoin.csv", 
                skipfooter=2, encoding='utf-8')

<ipython-input-66-5fd992837313>:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  df = pd.read_csv("https://raw.githubusercontent.com/remiconnesson/datasets/master/data/bitcoin/bitcoin.csv",

In [67]:
df.shape

(31, 7)

In [68]:
df.dtypes

Date           object
Open*         float64
High          float64
Low           float64
Close**       float64
Volume          int64
Market Cap      int64
dtype: object

In [69]:
df.head()

          Date    Open*     High      Low  Close**       Volume    Market Cap
0  Jan 14 2020  8140.93  8879.51  8140.93  8827.76  44841784107  160319484883
1  Jan 13 2020  8189.77  8197.79  8079.70  8144.19  22482910688  147890525973
2  Jan 12 2020  8033.26  8200.06  8009.06  8192.49  22903438381  148752956966
3  Jan 11 2020  8162.19  8218.36  8029.64  8037.54  25521165085  145924199942
4  Jan 10 2020  7878.31  8166.55  7726.77  8166.55  28714583844  148249907277

In [79]:
df.rename.(colums{'Open*':'Open',
         'Close':'Close**',
         'Market Cap':'Market_Cap'}
    inplace=True)

SyntaxError: invalid syntax (<ipython-input-79-38099e8c75f9>, line 1)

In [81]:
def modif_adoc

SyntaxError: invalid syntax (<ipython-input-81-5a1032ee3805>, line 1)

In [87]:
df.columns = df.columns.str.replace(' ','_')

In [88]:
df.columns = df.columns.str.replace('*','')

In [89]:
df.head()

          Date     Open     High      Low    Close       Volume    Market_Cap
0  Jan 14 2020  8140.93  8879.51  8140.93  8827.76  44841784107  160319484883
1  Jan 13 2020  8189.77  8197.79  8079.70  8144.19  22482910688  147890525973
2  Jan 12 2020  8033.26  8200.06  8009.06  8192.49  22903438381  148752956966
3  Jan 11 2020  8162.19  8218.36  8029.64  8037.54  25521165085  145924199942
4  Jan 10 2020  7878.31  8166.55  7726.77  8166.55  28714583844  148249907277

In [70]:
df.tail()

           Date    Open*     High      Low  Close**       Volume    Market Cap
26  Dec 19 2019  7277.59  7346.60  7041.38  7202.84  25904604416  130445758713
27  Dec 18 2019  6647.70  7324.98  6540.05  7276.80  31836522778  131754969804
28  Dec 17 2019  6931.32  6964.07  6587.97  6640.52  22363804217  120234244809
29  Dec 16 2019  7153.66  7171.17  6903.68  6932.48  20213265950  125515586952
30  Dec 15 2019  7124.24  7181.08  6924.38  7152.30  16881129804  129481424648

In [71]:
df.isna().sum()

Date          0
Open*         0
High          0
Low           0
Close**       0
Volume        0
Market Cap    0
dtype: int64

In [72]:
df['Date'] # ou df.Date si pas d'espace dans le nom des colonnes

0     Jan 14 2020
1     Jan 13 2020
2     Jan 12 2020
3     Jan 11 2020
4     Jan 10 2020
5     Jan 09 2020
6     Jan 08 2020
7     Jan 07 2020
8     Jan 06 2020
9     Jan 05 2020
10    Jan 04 2020
11    Jan 03 2020
12    Jan 02 2020
13    Jan 01 2020
14    Dec 31 2019
15    Dec 30 2019
16    Dec 29 2019
17    Dec 28 2019
18    Dec 27 2019
19    Dec 26 2019
20    Dec 25 2019
21    Dec 24 2019
22    Dec 23 2019
23    Dec 22 2019
24    Dec 21 2019
25    Dec 20 2019
26    Dec 19 2019
27    Dec 18 2019
28    Dec 17 2019
29    Dec 16 2019
30    Dec 15 2019
Name: Date, dtype: object

In [73]:
df.rename(columns={'Open*': 'Open'}, inplace=True)
df.rename(columns={'Close**': 'Close'}, inplace=True)
df

           Date     Open     High      Low    Close       Volume    Market Cap
0   Jan 14 2020  8140.93  8879.51  8140.93  8827.76  44841784107  160319484883
1   Jan 13 2020  8189.77  8197.79  8079.70  8144.19  22482910688  147890525973
2   Jan 12 2020  8033.26  8200.06  8009.06  8192.49  22903438381  148752956966
3   Jan 11 2020  8162.19  8218.36  8029.64  8037.54  25521165085  145924199942
4   Jan 10 2020  7878.31  8166.55  7726.77  8166.55  28714583844  148249907277
5   Jan 09 2020  8082.30  8082.30  7842.40  7879.07  24045990466  143016572819
6   Jan 08 2020  8161.94  8396.74  7956.77  8079.86  31672559265  146645162431
7   Jan 07 2020  7768.68  8178.22  7768.23  8163.69  28767291327  148152237654
8   Jan 06 2020  7410.45  7781.87  7409.29  7769.22  23276261598  140976457304
9   Jan 05 2020  7410.45  7544.50  7400.54  7411.32  19725074095  134469548249
10  Jan 04 2020  7345.38  7427.39  7309.51  7410.66  18444271275  134442464030
11  Jan 03 2020  6984.43  7413.72  6915.00  7344.88  28111481032  133233444755
12  Jan 02 2020  7202.55  7212.16  6935.27  6985.47  20802083465  126699395235
13  Jan 01 2020  7194.89  7254.33  7174.94  7200.17  18565664997  130580829150
14  Dec 31 2019  7294.44  7335.29  7169.78  7193.60  21167946112  130446112598
15  Dec 30 2019  7420.27  7454.82  7276.31  7293.00  22874131672  132235128152
16  Dec 29 2019  7317.65  7513.95  7279.87  7422.65  22445257702  134570835775
17  Dec 28 2019  7289.03  7399.04  7286.91  7317.99  21365673026  132659059740
18  Dec 27 2019  7238.14  7363.53  7189.93  7290.09  22777360996  132139502950
19  Dec 26 2019  7274.80  7388.30  7200.39  7238.97  22787010034  131200030100
20  Dec 25 2019  7325.76  7357.02  7220.99  7275.16  21559505149  131840641292
21  Dec 24 2019  7354.39  7535.72  7269.53  7322.53  22991622105  132687583295
22  Dec 23 2019  7508.90  7656.18  7326.19  7355.63  27831788041  133275709111
23  Dec 22 2019  7191.19  7518.03  7167.18  7511.59  23134537956  136088022049
24  Dec 21 2019  7220.59  7223.23  7112.74  7191.16  19312552168  130267655889
25  Dec 20 2019  7208.64  7257.92  7086.12  7218.82  22633815180  130752796980
26  Dec 19 2019  7277.59  7346.60  7041.38  7202.84  25904604416  130445758713
27  Dec 18 2019  6647.70  7324.98  6540.05  7276.80  31836522778  131754969804
28  Dec 17 2019  6931.32  6964.07  6587.97  6640.52  22363804217  120234244809
29  Dec 16 2019  7153.66  7171.17  6903.68  6932.48  20213265950  125515586952
30  Dec 15 2019  7124.24  7181.08  6924.38  7152.30  16881129804  129481424648

In [74]:
df['Open'] = df['Open*']

KeyError: 'Open*'

In [75]:
df = df.drop('Open*', 
             axis='columns',
             inplace=True)

ValueError: No axis named colums for object type DataFrame

In [78]:
df = df.drop('Open*',
            axis='columns') 
#None --> résolution pas faite
# si l'on voit le modification c'est qu'elle ne s'est pas faite rééllement
#Erreur : NoneType has no attribute

KeyError: "['Open*'] not found in axis"