# Merging Data avec Pandas 

Dans la science de donn√©es on a souvent besoin de fusionner des tableaux. On peut le faire avec la fonction `merge()` qui prend comme param√®tres deux `DataFrames` ainsi que les colonnes avec lesquelles r√©aliser les jointures. Cette m√©thode est tr√®s similaire √† SQL sur le principe üî≠

### Importer pandas et les dataset `user_device.csv`, `user_usage.csv` et `android_devices.csv`

In [8]:
import numpy as np

In [9]:
import pandas as pd;

In [24]:
da = pd.read_csv("user_dedvice.csv")
db = pd.read_csv("user_usage.csv")
dc = pd.read_csv("android_devices.csv")
dc

      Retail Branding Marketing Name       Device                      Model
0                 NaN            NaN       AD681H  Smartfren Andromax AD681H
1                 NaN            NaN        FJL21                      FJL21
2                 NaN            NaN          T31              Panasonic T31
3                 NaN            NaN     hws7721g         MediaPad 7 Youth 2
4                  3Q        OC1020A      OC1020A                    OC1020A
...               ...            ...          ...                        ...
14541           pendo    PNDPP44QC10  PNDPP44QC10                PNDPP44QC10
14542           pendo     PNDPP44QC7   PNDPP44QC7                 PNDPP44QC7
14543      sugar_aums         QPOINT        QPI-1                      QPI-1
14544       tecmobile       OmnisOne     OmnisOne                  Omnis One
14545           ucall          EASY1        EASY1                      EASY1

[14546 rows x 4 columns]

### Importer les dataset & renommer la colonne `Branding` du dataset `android_devices.csv`

In [28]:
dc = pd.read_csv("android_devices.csv")
dc.rename(columns={'Retail Branding': 'manufacturer'}, inplace=True)
dc

      manufacturer Marketing Name       Device                      Model
0              NaN            NaN       AD681H  Smartfren Andromax AD681H
1              NaN            NaN        FJL21                      FJL21
2              NaN            NaN          T31              Panasonic T31
3              NaN            NaN     hws7721g         MediaPad 7 Youth 2
4               3Q        OC1020A      OC1020A                    OC1020A
...            ...            ...          ...                        ...
14541        pendo    PNDPP44QC10  PNDPP44QC10                PNDPP44QC10
14542        pendo     PNDPP44QC7   PNDPP44QC7                 PNDPP44QC7
14543   sugar_aums         QPOINT        QPI-1                      QPI-1
14544    tecmobile       OmnisOne     OmnisOne                  Omnis One
14545        ucall          EASY1        EASY1                      EASY1

[14546 rows x 4 columns]

### Afficher les dataset

In [29]:
db = pd.read_csv("user_usage.csv")
db.head()

   outgoing_mins_per_month  outgoing_sms_per_month  monthly_mb  use_id
0                    21.97                    4.82     1557.33   22787
1                  1710.08                  136.88     7267.55   22788
2                  1710.08                  136.88     7267.55   22789
3                    94.46                   35.17      519.12   22790
4                    71.59                   79.26     1557.33   22792

In [30]:
da = pd.read_csv("user_device.csv")
da.head()

   use_id  user_id platform  platform_version     device  use_type_id
0   22782    26980      ios              10.2  iPhone7,2            2
1   22783    29628  android               6.0    Nexus 5            3
2   22784    28473  android               5.1   SM-G903F            1
3   22785    15200      ios              10.2  iPhone7,2            3
4   22786    28239  android               6.0  ONE E1003            1

In [31]:
dc = pd.read_csv("android_devices.csv")
dc.iloc[0:10]

,Retail Branding,Marketing Name,Device,Model
0,NaN,NaN,AD681H,Smartfren Andromax AD681H
1,NaN,NaN,FJL21,FJL21
2,NaN,NaN,T31,Panasonic T31
3,NaN,NaN,hws7721g,MediaPad 7 Youth 2
4,3Q,OC1020A,OC1020A,OC1020A
5,7Eleven,IN265,IN265,IN265
6,A.O.I. ELECTRONICS FACTORY,A.O.I.,TR10CS1_11,TR10CS1
7,AG Mobile,AG BOOST 2,BOOST2,E4010
8,AG Mobile,AG Flair,AG_Flair,Flair
9,AG Mobile,AG Go Tab Access 2,AG_Go_Tab_Access_2,AG_Go_Tab_Access_2

### Votre premier merge

In [32]:
dd=pd.merge(db,da[['use_id','platform','device']])
dd.head()

,outgoing_mins_per_month,outgoing_sms_per_month,monthly_mb,use_id,platform,device
0,21.97,4.82,1557.33,22787,android,GT-I9505
1,1710.08,136.88,7267.55,22788,android,SM-G930F
2,1710.08,136.88,7267.55,22789,android,SM-G930F
3,94.46,35.17,519.12,22790,android,D2303
4,71.59,79.26,1557.33,22792,android,SM-G361F

### Afficher la `shape` de vos dataset ainsi que celle du dataset de sortie 

Que remarquez vous ?

In [33]:
print("user_usage dimensions: {}".format(db.shape))
print("user_device dimensions: {}".format(da.shape))
print("result dimensions: {}".format(dd.shape))

user_usage dimensions: (240, 4)
user_device dimensions: (272, 6)
result dimensions: (159, 6)

### Afficher via `value_counts` les `use_id` pr√©sent dans le nouveau dataset ainsi que ceux non pr√©sent

In [34]:
db['use_id'].isin(da['use_id']).value_counts()

True     159
False     81
Name: use_id, dtype: int64

### Le left merge

Afficher la `shape` du dataset `user_usage`, celle du dataset de sortie ainsi que les valeurs manquantes.

In [35]:
dd = pd.merge(db,da[['use_id', 'platform', 'device']],on='use_id', how='left')
print("user_usage dimensions: {}".format(db.shape))
print("result dimensions: {}".format(dd.shape))
print("There are {} missing values in the result.".format(dd['device'].isnull().sum()))

user_usage dimensions: (240, 4)
result dimensions: (240, 6)
There are 81 missing values in the result.

### Afficher votre dataset

In [36]:
dd.head()

,outgoing_mins_per_month,outgoing_sms_per_month,monthly_mb,use_id,platform,device
0,21.97,4.82,1557.33,22787,android,GT-I9505
1,1710.08,136.88,7267.55,22788,android,SM-G930F
2,1710.08,136.88,7267.55,22789,android,SM-G930F
3,94.46,35.17,519.12,22790,android,D2303
4,71.59,79.26,1557.33,22792,android,SM-G361F

### Le right merge

Afficher la `shape` du dataset `user_device`, celle du dataset de sortie ainsi que les valeurs manquantes des colonnes `monthly_mb` et `platform`.

In [37]:
dd = pd.merge(db,da[['use_id', 'platform', 'device']],on='use_id', how='right')
print("user_device dimensions: {}".format(da.shape))
print("result dimensions: {}".format(dd.shape))
print("There are {} missing values in the result.".format(dd['monthly_mb'].isnull().sum()))
print("There are {} missing values in the result.".format(dd['platform'].isnull().sum()))

user_device dimensions: (272, 6)
result dimensions: (272, 6)
There are 113 missing values in the result.
There are 0 missing values in the result.

### Le outer merge example

Afficher les valeurs unique de `use_id` des datasets `user_device` & `user_usage`, celle du dataset de sortie ainsi que les valeurs no manquantes.

In [38]:
print("There are {} unique values of use_id in our dataframes.".format(pd.concat([db['use_id'], da['use_id']]).unique().shape[0]))

dd = pd.merge(db,da[['use_id', 'platform', 'device']], on='use_id', how='outer')

print("Outer merge result has {} rows.".format(dd.shape))

#print("There are {} rows with no missing values.".format(dd) ...

There are 353 unique values of use_id in our dataframes.
Outer merge result has (353, 6) rows.

### Afficher les lignes `0,1,200,201,350,351`

In [39]:
dd.iloc [[0, 1, 200, 201, 350, 351]]

,outgoing_mins_per_month,outgoing_sms_per_month,monthly_mb,use_id,platform,device
0,21.97,4.82,1557.33,22787,android,GT-I9505
1,1710.08,136.88,7267.55,22788,android,SM-G930F
200,28.79,29.42,3114.67,23988,NaN,NaN
201,616.56,99.85,5414.14,24006,NaN,NaN
350,NaN,NaN,NaN,23050,ios,"iPhone7,2"
351,NaN,NaN,NaN,23051,ios,"iPhone7,2"

### Ajouter les colonnes `device` & `manufacturer`

In [51]:
dd = pd.merge(db, da[['use_id', 'platform', 'device']], on='use_id', how='left')

device.rename(columns={"Retail Branding": "manufacturer"})
dd = pd.merge(dd, devices[['manufacturer', 'Model']], left_on='device', right_on='Model', how='left')
print(dd.head())

NameError: name 'device' is not defined

### Afficher les `device` commencant par 'GT'

### Afficher le dataset des r√©sultats

In [46]:
dd.head() #colonnes manufacturer et devices manquantes

,outgoing_mins_per_month,outgoing_sms_per_month,monthly_mb,use_id,platform,device
0,21.97,4.82,1557.33,22787,android,GT-I9505
1,1710.08,136.88,7267.55,22788,android,SM-G930F
2,1710.08,136.88,7267.55,22789,android,SM-G930F
3,94.46,35.17,519.12,22790,android,D2303
4,71.59,79.26,1557.33,22792,android,SM-G361F

### Grouper vos donn√©es par `manufacturer`
Compter les `use_id` et afficher les moyennes des colonnes `outgoing_mins_per_month`, `outgoing_sms_per_month`, `monthly_mb`

In [45]:
dd.groupby("manufacturer").agg({
        "outgoing_mins_per_month": "mean",
        "outgoing_sms_per_month": "mean",
        "monthly_mb": "mean",
        "use_id": "count"
    })

KeyError: 'manufacturer'