## 7) Dataset missing value toy

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("https://bit.ly/missing-values-toy")

df.shape

(7, 3)

In [4]:
df

  Colonne Importante  Colonne Inutile  Colonne Peu Utile
0                Oui              NaN                2.0
1                Non              1.0                NaN
2         Légerement              NaN                3.0
3                NaN              1.0                NaN
4                Oui              1.0                4.0
5                NaN              NaN                3.0
6                NaN              2.0                NaN

In [5]:
df.dropna()

  Colonne Importante  Colonne Inutile  Colonne Peu Utile
4                Oui              1.0                4.0

In [7]:
df.dropna(how='all',
        subset=['Colonne Importante'])

  Colonne Importante  Colonne Inutile  Colonne Peu Utile
0                Oui              NaN                2.0
1                Non              1.0                NaN
2         Légerement              NaN                3.0
4                Oui              1.0                4.0

In [8]:
df.dropna(how='any',
          subset=['Colonne Importante', 'Colonne Peu Utile'])

  Colonne Importante  Colonne Inutile  Colonne Peu Utile
0                Oui              NaN                2.0
2         Légerement              NaN                3.0
4                Oui              1.0                4.0