## 6) Dataset missing value

In [1]:
import pandas as pd

In [27]:
df = pd.read_csv("https://bit.ly/missing-values")

df.shape

(917, 2)

In [28]:
df.head()

  color  rating
0   NaN    1.16
1   Red     NaN
2  Blue    2.54
3   Red    1.51
4   Red     NaN

In [12]:
df.dtypes

color      object
rating    float64
dtype: object

#### Insérer une colonne pour renseigner la présence d'une valeur manquante [NUMERIQUE / ORDINAL] #getDummies

In [40]:
# ici, n'incluer que le nom des colonnes NUMERIQUES/ORDINAL
for nom_colonne in['rating']:
    index_colonne = df.columns.get_loc(nom_colonne)
    df.insert(index_colonne+1,
             nom_colonne+'_nan',
             df[nom_colonne].isna().astype('int8'))

In [41]:
df.head()

  color  rating  rating_nan
0   NaN    1.16           0
1   Red     NaN           1
2  Blue    2.54           0
3   Red    1.51           0
4   Red     NaN           1

In [42]:
df['rating'].fillna(df['rating'].mean(),
                    inplace=True)

In [44]:
df.dtypes

color          object
rating        float64
rating_nan       int8
dtype: object

In [45]:
df['color'] = df['color'].astype('category')

- propice à l'analyse manuelle [HUMAINS] --> float/int/category
- propice à l'analyse automatique [MACHINE] --> float/int

In [46]:
df.dtypes

color         category
rating         float64
rating_nan        int8
dtype: object

In [51]:
df = pd.get_dummies(df,
                    dummy_na=True,
                    columns=['color'])
#dummy_variable (dummy = idiot)

,rating,rating_nan,color_Blue,color_Orange,color_Red,color_Yellow,color_nan
0,1.160000,0,0,0,0,0,1
1,3.066672,1,0,0,1,0,0
2,2.540000,0,1,0,0,0,0
3,1.510000,0,0,0,1,0,0
4,3.066672,1,0,0,1,0,0
...,...,...,...,...,...,...,...
912,3.400000,0,1,0,0,0,0
913,3.066672,1,0,0,1,0,0
914,1.240000,0,0,0,0,0,1
915,2.640000,0,0,0,0,1,0
916,3.066672,1,1,0,0,0,0

In [52]:
df.dtypes

color         category
rating         float64
rating_nan        int8
dtype: object

In [54]:
# Suppression colonne inutile
df.drop('NOM_COLONNE',
        axis='columns',
        inplace=True)

KeyError: "['NOM_COLONNE'] not found in axis"

In [57]:
df.to_csv('nom_fichier.csv',
          index=None) # ne pas oublier cette ligne sinon création de colonnes inutiles
#Nomencalture : '__NOMDATSET__clean_viz.csv'

In [31]:
df['color'].isna().sum()

129

Valeur :
1) la plus fréquente
2) moyenne/médiane
3) hors limite

In [ ]:
#df['color'].fillna('')

In [32]:
df['rating'],fillna(df['rating'].mean()
                    inplace=False)

SyntaxError: invalid syntax (<ipython-input-32-1d887bee89d0>, line 2)

In [33]:
df['color'].value_counts() #voir les plus frequents

Blue      323
Red       234
Orange    154
Yellow     77
Name: color, dtype: int64

In [36]:
df['color'].fillna(0)

0           0
1         Red
2        Blue
3         Red
4         Red
        ...
912      Blue
913       Red
914         0
915    Yellow
916      Blue
Name: color, Length: 917, dtype: object

In [39]:
df['rating'].max() # plage des limites : max et min
df['rating'].min()
df['rating'].fillna(0) # remplir valeurs manquantes

0      1.16
1      0.00
2      2.54
3      1.51
4      0.00
       ...
912    3.40
913    0.00
914    1.24
915    2.64
916    0.00
Name: rating, Length: 917, dtype: float64

In [25]:
#df.insert(0+1, 'color_nan', )

La touche finale pour les colonnes ordinales, colonne.cat.codes

La touche final pour les colonnes numériques, as_type("int") ou as_type("float")

df.dropna(how="", #any or all         #dropna --> supprimer des lignes
          subset=['', ''])

#any --> au moins une des valeurs

In [7]:
#df['color_missing'] = df['color'].isna()

NameError: name 'df' is not defined

In [8]:
#df.insert(0, "corlor_missing2", df['color'].isna())

NameError: name 'df' is not defined

A connaitre

In [2]:
import numpy as np

In [ ]:
df.isna().sum() # nb de valeurs nulles pas colonnes

In [3]:
df.isna().mean # % de valeurs nulles pas colonnes

NameError: name 'df' is not defined

In [6]:
df.isna().head()

NameError: name 'df' is not defined

1) créer la colonne qui renseigne l'absence de valeur
2) deplacer la colonne par plus de proximité