### Float vers ordinal

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("https://bit.ly/felonies-dataset")

In [3]:
df.shape

(1000, 3)

In [4]:
df.dtypes

Date of Arrest    object
Age                int64
Convicted         object
dtype: object

In [6]:
df.head()

        Date of Arrest  Age Convicted
0  2014-07-16 14:59:18   77       Yes
1  2002-12-19 22:17:59   28       Yes
2  1994-06-28 09:31:40   21        No
3  1985-05-14 09:52:17   45       Yes
4  1985-05-25 14:06:28   39       Yes

In [7]:
df.tail()

          Date of Arrest  Age Convicted
995  1992-02-04 14:24:25   72       Yes
996  1996-04-29 18:03:23   68       Yes
997  1980-07-15 21:59:27   87       Yes
998  1999-07-05 17:16:12   27        No
999  1996-03-17 18:29:25   57       Yes

Comment transformer une valeur numérique en catégorique

In [8]:
df['Age'].describe()

count    1000.000000
mean       54.605000
std        25.225172
min        10.000000
25%        33.000000
50%        53.000000
75%        76.000000
max        99.000000
Name: Age, dtype: float64

In [15]:
o = pd.cut(df['Age'],
           bins(10, 14, 20, 65, 100),
           labels('Child','Ado', 'Adulte', 'Senior')) #avoir une binds de plus que de label

NameError: name 'bins' is not defined

In [14]:
exo1 = pd.Series(data=[0, 1, 2, 3])

In [12]:
FROM_ZERO = -0.001
pd.cut(exo1,
       bins=[FROM_ZERO, 2, 3],
       labels=["A", "B"])

0    NaN
1      A
2      A
3      B
dtype: category
Categories (2, object): ['A' < 'B']

Tranche d'age

In [17]:
prefix = ["ten", "twen", "thir", 
          "four", "fif", "six", 
          "seven", "eigt", "nine"]

labels = [p+'ties' for p in prefix]

labels

['tenties',
 'twenties',
 'thirties',
 'fourties',
 'fifties',
 'sixties',
 'seventies',
 'eigtties',
 'nineties']

Exo

In [21]:
bins = list(range(9, 99+1, 10))
bins

[9, 19, 29, 39, 49, 59, 69, 79, 89, 99]

In [28]:
df['Decade'] = pd.cut(exo1,
       bins=bins,
       labels=labels)

In [30]:
df.head()

        Date of Arrest  Age Convicted Decade
0  2014-07-16 14:59:18   77       Yes    NaN
1  2002-12-19 22:17:59   28       Yes    NaN
2  1994-06-28 09:31:40   21        No    NaN
3  1985-05-14 09:52:17   45       Yes    NaN
4  1985-05-25 14:06:28   39       Yes    NaN

In [24]:
df.dtypes

Date of Arrest    object
Age                int64
Convicted         object
dtype: object

In [27]:
df['Decade'].cat.codes

KeyError: 'Decade'